@using COmpStore.Models.ViewModels.CategoryAdmin
@model CategoryAdminCreate
@{
    ViewData["Title"] = "Thêm mới";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Loại sản phẩm - Thêm mới</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6 col-md-offset-3">
            @if (ViewData["IsSuccess"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Thêm thành công. Nhấn vào <a asp-action="Index" asp-controller="AdminCategory" class="alert-link">đây</a> để trở về trang trước.
                </div>
            }

            <div class="panel-body">
                <form asp-action="Create" asp-controller="AdminCategory" class="form-horizontal" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CategoryName">Tên</label>
                        <input asp-for="CategoryName" type="text" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a asp-action="Index" asp-controller="AdminCategory" class="btn btn-default">Hủy</a>
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
