@{
    ViewData["Title"] = "Đăng nhập quản trị viên";
    Layout = "~/Views/Shared/_AdminAuthLayout.cshtml";
}

<style>
    body {
        background: #d2d6de;
    }
    .login-box-body{
        text-align:center;
    }
</style>

<div class="admin-login-container">
    <div class="login-box">
        <div class="login-logo">
            <span><b>Admin</b> COmpStore</span>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">

            <h1>404 Not Found</h1>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
